.cookie-banner {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  border-top: 2px solid $color-highlight;
  background-color: #fff;
  transition: transform $tr;
  transform: translate3d(0, 100%, 0);

  &--visible {
    transform: translate3d(0, 0, 0);
  }

  &__container {
    @include flex(row, space-between, center, wrap);
  }

  &__wrapper {
    flex: 1 1 80%;
    padding: 25px 0;
  }

  &__more {
    &-link {
      color: $color-highlight;
    }
  }

  @include rwd(xs) {
    &__wrapper {
      flex: 1 1 70%;
    }
  }

  @include rwd(xxs) {
    &__container {
      justify-content: center;
    }

    &__button {
      margin-bottom: 25px;
    }
  }
}
