.main-header {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 132px;
  @include flex(row, center, center);
  background-color: #fff;

  &__wrapper {
    @include flex(row, space-between, center);
  }

  &__navigation {
    &-item {
      display: inline-block;
      font-weight: 700;
      font-size: $font-size-mid;
      text-decoration: none;
      text-transform: uppercase;

      &--contact {
        margin-left: 15px;

        a {
          padding: 23px 30px;
          color: $color-highlight;
          border: 1px solid $color-highlight;
          display: inline-flex;
          align-items: center;
          justify-content: center;
        
          &::after {
            content: '->';
          }
        }
      }

      &.lang-item {
        width: 20px;
        height: 20px;
        border: 1px solid $color-lighter;
        font-size: $font-size-xs;
        color: $color-lighter;
        
        @include flex(row, center, center) {
          display: inline-flex;
        }

        a {
          display: block;
        }
      }

      &.current-menu-item {
        color: $color-highlight;
      }
    }

    a {
      display: block;
      padding: 16px;
    }
  }
}
