.hero-section {
  color: #fff;

  &__heading {
    padding: 140px 0 50px;
    font-size: 101px;
    font-family: $font-family-serif;
    line-height: 80px;
  }

  &__paragraph {
    width: 720px;
    padding: 0 0 40px;
    font-size: 22px;
    line-height: 36px;
  }

  &__button {
    width: 244px;
    padding: 21px 30px;
    line-height: 1;

    & .icon {
      &--arrow {
        top: 50%;
        right: 31px;
        transform: translateY(-50%);
        fill: $color-hero-arrow;
      }
    }
  }

  @include rwd(m) {
    &__heading {
      width: 55%;
      padding: 80px 0 30px;
      font-size: 85px;
      line-height: 70px;
    }

    &__paragraph {
      width: 55%;
      padding: 0 0 30px;
      font-size: 18px;
      line-height: 28px;
    }

    &__button {
      width: 190px;
      padding: 17px 20px;

      & .icon {
        &--arrow {
          right: 17px;
        }
      }
    }
  }

  @include rwd(xs) {
    &__container {
      @include flex(row, space-between, center, wrap);
    }

    &__heading {
      width: 100%;
    }
  }
}
