.hero-sub {
  margin: 240px 0 0;
  background-image: radial-gradient(rgba($color-gradient-start, 0.6), rgba($color-gradient-end, 0.6));

  &__brow {
    padding: 90px 0 25px;
    color: $color-highlight;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font-size-base;
  }

  &__paragraph {
    padding: 0 220px 0 0;
    font-size: $font-size-heading;
    font-family: $font-family-serif;
    line-height: 50px;
  }

  &__line {
    margin: 40px 0 -63px;
  }

  &__services {
    position: relative;
    margin: 0 0 -163px;
    padding: 163px 0 0;
    @include flex(row, space-between, flex-start);
  }

  &__single-service {
    width: percentage(1/3);
    height: 326px;
    background-color: #fff;
    color: $color-light;
    padding: 30px 30px 30px 65px;

    &:last-child {
      border-left: 1px solid $color-services-border;
    }

    &-figure {
      background-color: $color-light;
      width: 80px;
      height: 80px;
      margin: 0 0 25px;
    }

    &-icon {
      width: 100%;
      max-width: 100%;
      height: 100%;
      max-height: 100%;
    }

    &-name {
      font-size: 28px;
      font-family: $font-family-serif;
    }

    &-line {
      width: 107px;
      margin: 25px 0;
      background-color: $color-light;
    }

    &-description {
      line-height: 24px;
    }

    &--highlight {
      color: #fff;
      background-image: radial-gradient(circle at top right, #b26493, $color-highlight);

      .hero-sub__single-service-line {
        background-color: #fff;
      }
    }
  }
}
