.hero-section {
  color: #fff;

  &__heading {
    padding: 140px 0 50px;
    font-size: 101px;
    font-family: $font-family-serif;
    line-height: 80px;
  }

  &__paragraph {
    width: 720px;
    padding: 0 0 40px;
    font-size: 22px;
    line-height: 36px;
  }

  &__button {
    padding: 20px 15px;
  }
}
