.services-section {
  $this: &!default;

  padding: 163px 0 0;
  text-align: center;

  @include gradient(vertical, #e1e1e1, #fff);

  &__wrapper {
    @include flex(column, flex-start, center);
  }

  &__brow {
    padding: 120px 0 27px;
  }

  &__heading {
    font-size: $font-size-heading;
    font-family: $font-family-serif;
  }

  &__line {
    width: 122px;
    margin: 25px 0 30px;
  }

  &__description {
    padding: 0 31%;
  }

  &__services {
    width: 100%;
    margin: 55px 0 196px;

    @include flex(row, space-between, flex-start);
  }

  &__single-service {
    position: relative;
    z-index: 1;
    opacity: 1;
    width: 590px;
    height: 315px;
    background-size: cover;
    transition: opacity $tr-m, transform $tr;
    transform: translate3d(0, 100%, 0);

    @include flex(row, center, flex-end);
    @include shadow(10px, 20px, lighten($color-shadow, 50%));

    &--active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    &-name {
      position: relative;
      z-index: 1;
      width: 527px;
      height: 111px;
      margin: 0 0 -56px;
      background-color: #fff;
      font-size: 28px;
      font-family: $font-family-serif;
      transition: color $tr;

      @include shadow(5px, 15px, lighten($color-shadow, 50%));

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(circle at top right, #b26493, $color-highlight);
        transition: opacity $tr;
      }

      & .icon {
        &--arrow {
          position: absolute;
          top: 50%;
          right: 56px;
          z-index: 2;
          transition: fill $tr;
          transform: translateY(-50%);
          fill: $color-highlight;
        }
      }

      &:hover {
        color: #fff;

        &::after {
          opacity: 1;
        }

        .icon {
          &--arrow {
            fill: #fff;
          }
        }
      }
    }

    &-url {
      position: relative;
      z-index: 2;
      display: block;
      width: 100%;
      height: 100%;
      padding: 0 56px;
      line-height: 111px;
      text-align: left;
    }
  }

  @include rwd(m) {
    padding: 110px 0 0;

    &__brow {
      padding: 80px 0 18px;
    }

    &__heading {
      font-size: $font-size-heading * 2/3;
    }

    &__line {
      width: 81px;
      margin: 17px 0 20px;
    }

    &__services {
      justify-content: space-around;
      margin: 37px 0 130px;
    }

    &__single-service {
      width: 40%;
      height: 210px;

      &-name {
        width: 85%;
        height: 74px;
        margin: 0 0 -37px;
        font-size: 28px * 2/3;
      }

      &-url {
        line-height: 74px;
      }
    }
  }

  @include rwd(xs) {
    padding: 50px 0;

    &__container {
      @include flex(row-reverse, space-around, center);
    }

    &__wrapper {
      flex: 1;
      margin-top: -37px;
    }

    &__brow {
      padding: 15px 0;
    }

    &__description {
      padding: 0 15px;
      font-size: $font-size-mid;
    }

    &__line {
      margin: 15px 0;
    }

    &__services {
      flex: 1;
      margin: 50px 0 87px;

      @include flex(column, center, center);
    }

    &__single-service {
      width: 100%;

      & + & {
        margin: 87px 0 0;
      }
    }
  }

  @include rwd(xxs) {
    padding: 0;

    &__container {
      @include flex(column, center, center);
    }

    &__wrapper {
      margin-top: 0;
    }

    &__single-service {
      &-url {
        padding: 0 20px;
      }

      &-name {
        & .icon {
          &--arrow {
            right: 20px;
          }
        }
      }
    }
  }
}
