.team-section {
  $this: &!default;

  padding: 71px 0 172px;
  background-position: center;
  background-size: cover;

  &__container {
    @include flex(column, center, center);
  }

  &__brow {
    margin: 0 0 27px;
  }

  &__heading {
    font-size: $font-size-heading;
    font-family: $font-family-serif;
  }

  &__line {
    margin: 17px 0 34px;
  }

  &__description {
    width: 810px;
    text-align: center;
  }

  &__button {
    position: relative;
    width: 323px;
    height: 53px;
    margin: 41px 0 50px;

    & .icon {
      &--arrow {
        position: absolute;
        top: 50%;
        right: 62px;
        transition: fill $tr;
        transform: translateY(-50%);
        fill: currentColor;
      }
    }
  }

  &__members {
    width: 810px;
    // padding:

    @include flex(row, space-between, flex-start);
  }

  &__single-member {
    opacity: 0;
    width: 383px;
    height: 383px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity $tr-m, transform $tr-m;
    transform: translate3d(0, 100%, 0);

    @include flex(row, center, flex-end);
    @include shadow(10px, 20px, lighten($color-shadow, 50%));

    &--active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    &-wrapper {
      position: relative;
      z-index: 1;
      width: 323px;
      height: 92px;
      margin: 0 0 -60px;
      border-bottom: 2px solid $color-highlight;
      padding: 4px;
      background-color: #fff;
      text-align: center;
      transition: border-color $tr, color $tr;

      @include flex(column, center, center);
      @include shadow(5px, 15px, lighten($color-shadow, 50%));

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        opacity: 0;
        width: 100%;
        height: calc(100% + 2px);
        background-image: radial-gradient(circle at top right, #b26493, $color-highlight);
        transition: opacity $tr;
      }

      &:hover {
        border-color: transparent;
        color: #fff;

        &::after {
          opacity: 1;
        }

        #{$this}__single-member-position {
          color: #fff;
        }
      }
    }

    &-name {
      position: relative;
      z-index: 3;
      font-size: 28px;
      font-family: $font-family-serif;
      line-height: 30px;
    }

    &-position {
      position: relative;
      z-index: 3;
      color: $color-lighter;
      font-size: $font-size-s;
      line-height: 20px;
      text-transform: uppercase;
      transition: color $tr;
    }
  }

  @include rwd(l) {
    &__brow {
      margin: 5px 0 12px;
    }

    &__line {
      margin: 12px 0 23px;
    }

    &__members {
      justify-content: space-around;
      padding: 20px 0 50px;
    }

    &__single-member {
      width: 300px;
      height: 300px;

      &-wrapper {
        width: 260px;
        height: 72px;
        margin: 0 0 -45px;
      }

      &-name {
        font-size: 24px;
      }
    }

    &__button {
      width: 235px;
      margin: 20px 0 25px;
      padding: 12px 25px;

      & .icon {
        &--arrow {
          right: 15px;
        }
      }
    }
  }

  @include rwd(m) {
    &__heading {
      font-size: $font-size-heading * 2/3;
    }

    &__description {
      width: 55%;
    }

    &__members {
      width: 55%;
      margin: 0 0 115px;
    }

    &__single-member {
      width: 280px;
      height: 280px;

      &-wrapper {
        width: 90%;
        height: 61px;
        margin: 0 0 -35px;
      }

      &-name {
        font-size: 19px;
      }

      &-position {
        font-size: $font-size-s * 2/3;
      }
    }
  }

  @include rwd(s) {
    &__description {
      width: 75%;
    }

    &__members {
      width: 70%;
    }
  }

  @include rwd(xs) {
    &__single-member {
      width: 200px;
      height: 200px;
    }
  }

  @include rwd(xxs) {
    &__heading {
      text-align: center;
    }

    &__description {
      width: 100%;
    }

    &__members {
      width: 100%;
    }

    &__single-member {
      width: 160px;
      height: 160px;

      &-wrapper {
        height: 55px;
        margin: 0 0 -25px;
      }

      &-name {
        font-size: $font-size-mid;
        line-height: 1.4;
      }

      &-position {
        line-height: 1.4;
      }
    }
  }

  @include rwd(360px) {
    &__single-member {
      width: 140px;
      height: 140px;
    }
  }
}
