.team-members {
  $this: & !default;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin: 0 0 114px;

  &__group {
    &-name {
      font-size: 34px;
      font-family: $font-family-serif;
      color: $color-mid;
      margin: 0 0 12px;
    }

    &-wrapper {
      @include flex(row, flex-start, flex-start, wrap) {
        display: inline-flex;
      }
      padding: 30px 0 0;
      border-top: 2px solid $color-highlight;
    }

    & + & {
      margin: 165px 0 0;
    }
  }

  &__member {
    width: 383px;
    height: 383px;
    margin-left: 40.5px;
    z-index: 1;
    transition: transform $tr, box-shadow $tr;

    @include flex(row, center, flex-end);
    @include shadow(10px, 20px, lighten($color-shadow, 50%));

    &:nth-child(3n + 1) {
      margin-left: unset;
    }

    &:nth-child(n + 4) {
      margin: 78px 0 0;
    }

    &-link {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 3;

      @include flex(column, center, center);
    }

    &-data {
      position: relative;
      width: 323px;
      height: 92px;
      margin: 0 0 -40px;
      background-color: #fff;
      border-bottom: 2px solid $color-highlight;
      transition: box-shadow $tr, border-color $tr;
      z-index: 1;

      @include shadow(5px, 15px, lighten($color-shadow, 50%));

      &::after {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100% + 2px);
        background-image: radial-gradient(circle at top right, #b26493, $color-highlight);
        opacity: 0;
        z-index: 2;
        transition: opacity $tr;
      }

      &:hover {
        color: #fff;
        border-color: transparent;

        &::after {
          opacity: 1;
        }

        #{$this}__member-position {
          color: #fff;
        }
      }
    }

    &-name {
      font-family: $font-family-serif;
      font-size: 28px;
      transition: color $tr;
    }

    &-position {
      font-size: $font-size-s;
      color: $color-lighter;
      transition: color $tr;
    }
  }
}
