.team-members {
  $this: &!default;

  margin: 0 0 114px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  &__group {
    &-name {
      margin: 0 0 12px;
      color: $color-mid;
      font-size: 34px;
      font-family: $font-family-serif;
    }

    &-wrapper {
      @include flex(row, flex-start, flex-start, wrap) {
        display: inline-flex;
      }

      border-top: 2px solid $color-highlight;
      padding: 30px 0 0;
    }

    & + & {
      margin: 165px 0 0;
    }
  }

  &__member {
    z-index: 1;
    opacity: 0;
    width: 383px;
    height: 383px;
    margin-left: 40.5px;
    background-size: cover;
    transition: opacity $tr-m, transform $tr-m, box-shadow $tr;
    transform: translate3d(0, 100%, 0);

    @include flex(row, center, flex-end);
    @include shadow(10px, 20px, lighten($color-shadow, 50%));

    &--active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }

    &:nth-child(3n + 1) {
      margin-left: unset;
    }

    &:nth-child(n + 4) {
      margin: 78px 0 0;
    }

    &-link {
      position: relative;
      z-index: 3;
      display: block;
      width: 100%;
      height: 100%;

      @include flex(column, center, center);
    }

    &-data {
      position: relative;
      z-index: 1;
      width: 323px;
      height: 92px;
      margin: 0 0 -40px;
      border-bottom: 2px solid $color-highlight;
      background-color: #fff;
      transition: box-shadow $tr, border-color $tr;

      @include shadow(5px, 15px, lighten($color-shadow, 50%));

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        opacity: 0;
        width: 100%;
        height: calc(100% + 2px);
        background-image: radial-gradient(circle at top right, #b26493, $color-highlight);
        transition: opacity $tr;
      }

      &:hover {
        border-color: transparent;
        color: #fff;

        &::after {
          opacity: 1;
        }

        #{$this}__member-position {
          color: #fff;
        }
      }
    }

    &-name {
      font-size: 28px;
      font-family: $font-family-serif;
      transition: color $tr;
    }

    &-position {
      color: $color-lighter;
      font-size: $font-size-s;
      transition: color $tr;
    }
  }

  @include rwd(m) {
    margin: 0 0 76px;

    &__group {
      &-name {
        margin: 0 0 8px;
        font-size: 23px;
      }

      &-wrapper {
        padding: 20px 0 0;
      }

      & + & {
        margin: 110px 0 0;
      }
    }

    &__member {
      width: 350px;
      height: 350px;

      &:nth-child(n + 4) {
        margin: 52px 0 0;
      }

      &-data {
        width: 90%;
        height: 61px;
        margin: 0 0 -27px;
      }

      &-name {
        font-size: 19px;
      }
    }
  }

  @include rwd(s) {
    &__member {
      width: 250px;
      height: 250px;
    }
  }

  @include rwd(xs) {
    &__member {
      width: 200px;
      height: 200px;
      margin-left: 20px;

      &-name {
        font-size: $font-size-mid;
        text-align: center;
      }

      &-link {
        padding: 5px;
      }
    }
  }

  @include rwd(xxs) {
    &__heading {
      text-align: center;
    }

    &__group {
      &-wrapper {
        @include flex(row, space-between, flex-start, wrap);
      }
    }

    &__member {
      width: 160px;
      height: 160px;
      margin: 0;

      &:nth-child(n+3) {
        margin-top: 50px;
      }
    }
  }

  @include rwd(360px) {
    &__member {
      width: 140px;
      height: 140px;
    }
  }
}
