@import '../partials/team/team-members';

.page-team {
  background-size: cover;

  &__container {
    @include flex(column, flex-start, center);
  }

  &__heading {
    padding: 40px 0 0;
    color: $color-mid;
    font-size: $font-size-heading;
    font-family: $font-family-serif;
  }

  &__line {
    margin: 22px 0 30px;
  }

  &__description {
    margin: 0 0 45px;
    padding: 0 210px;
    text-align: center;
  }

  @include rwd(xxs) {
    &__heading {
      text-align: center;
    }

    &__description {
      padding: 0;
    }
  }
}
