.team-member {
  margin: 0 0 -400px;
  padding: 0 0 400px;
  background-position: top -132px center;
  background-size: cover;
  background-repeat: no-repeat;

  &__container {
    @include flex(row, flex-end, flex-start);
  }

  &__wrapper {
    width: 480px;
  }

  &__brow {
    margin: 53px 0 26px;
    line-height: 1;
  }

  &__name {
    font-size: $font-size-xl;
    font-family: $font-family-serif;
    line-height: 1;
  }

  &__line {
    margin: 35px 0 30px;
  }

  &__description {
    line-height: 24px;

    & > p + p {
      margin: 24px 0 0;
    }
  }

  &__link {
    position: relative;
    width: 217px;
    height: 53px;
    margin: 85px 0 194px;
    padding: 20px 20px 20px 79px;

    & .icon {
      &--arrow {
        position: absolute;
        top: 50%;
        left: 36px;
        transform: translateY(-50%) rotate(180deg);
        fill: currentColor;
      }
    }
  }

  @include rwd(m) {
    background-position: top -88px center;
    background-size: 100%;

    &__wrapper {
      width: 40%;
      margin: 0 5% 0 0;
    }

    &__brow {
      margin: 35px 0 17px;
    }

    &__name {
      font-size: $font-size-xl * 2/3;
    }

    &__line {
      margin: 23px 0 20px;
    }

    &__description {
      line-height: 16px;

      & > p + p {
        margin: 16px 0 0;
      }
    }

    &__link {
      width: 145px;
      height: 35px;
      margin: 57px 0 129px;
      padding: 13px 13px 13px 53px;

      & .icon {
        &--arrow {
          left: 24px;
        }
      }
    }
  }

  @include rwd(s) {
    background-position: top -60px center;

    &__wrapper {
      width: 45;
      margin: 0;
    }

    &__link {
      margin: 30px 0 50px;
      padding: 10px 10px 10px 43px;

      & .icon {
        &--arrow {
          left: 10px;
        }
      }

      &--bright {
        background-color: #fff;
        color: $color-highlight;
      }
    }
  }

  @include rwd(xs) {
    background-position: top -60px left 0;
    background-size: 100%;

    &__container {
      flex-direction: column;
      padding-top: 320px;
    }

    &__wrapper {
      width: 100%;

      @include flex(column, flex-start, flex-start);
    }

    &__link {
      align-self: flex-end;
      margin: 20px 0;
    }
  }

  @include rwd(xxs) {
    background-position: top center;

    &__container {
      padding-top: 50vw;
    }
  }
}
