.main-content {
  padding: 132px 0 0;
  background-position: top center;
  background-size: auto;
  background-repeat: no-repeat;
  color: $color-foreground;

  @include rwd(l) {
    padding: 88px 0 0;
  }
}
