.button {
  position: relative;
  color: $color-mid;
  background-color: transparent;
  padding: 22px 60px;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid $color-highlight;
  text-transform: uppercase;
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: none;
  transition: color $tr, background-color $tr, border-color $tr, backdrop-filter $tr;

  &:hover {
    color: $color-highlight;
    background-color: #fff;
    border-color: $color-highlight;
  }

  &--front {
    &-white {
      color: #fff;
    }

    &-highlight {
      color: $color-highlight;
    }
  }

  &--back {
    &-light {
      &:hover {
        color: $color-mid;
      }
    }
  }
}
