.button {
  position: relative;
  border: 1px solid $color-highlight;
  padding: 22px 60px;
  background-color: transparent;
  color: $color-mid;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  backdrop-filter: none;
  transition: color $tr, background-color $tr, border-color $tr, backdrop-filter $tr;
  cursor: pointer;

  @include flex(row, space-between, center) {
    display: inline-flex;
  }

  @include rwd(m) {
    padding: 18px 40px;
    font-size: 11px;
  }

  &:hover {
    border-color: $color-highlight;
    background-color: #fff;
    color: $color-highlight;
  }

  &--front {
    &-white {
      color: #fff;
    }

    &-highlight {
      color: $color-highlight;
    }
  }

  &--back {
    &-light {
      &:hover {
        color: $color-mid;
      }
    }
  }
}
