@import './contact-form';

.main-footer {
  background-image:
    radial-gradient(
      ellipse at 50% 25%,
      rgba($color-gradient-end, 0.93),
      rgba($color-gradient-start, 0.93)
    );

  &--landing {
    background-image:
      radial-gradient(
        ellipse at 50% 25%,
        darken($color-gradient-end, 7%),
        darken($color-gradient-start, 7%)
      );
  }

  &__container {
    @include flex(row, space-between, flex-start, wrap);
  }

  &__wrapper {
    width: 50%;
    color: #fff;
  }

  &__brow {
    margin: 90px 0 30px;
  }

  &__line {
    margin: 25px 0 50px;
  }

  &__heading {
    font-size: $font-size-heading;
    font-family: $font-family-serif;
  }

  &__paragraph {
    font-size: $font-size-xl;
    font-family: $font-family-serif;
  }

  &__contact-form {
    width: 510px;
    margin: 140px 0 110px;
  }

  &__info {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 216px;
    margin: 0 0 -113px;
    border-bottom: 2px solid $color-highlight;
    padding: 0 85px 0 52px;
    background-color: #fff;

    @include flex(row, space-between, center);
    @include shadow(0, 40px, lighten($color-shadow, 25%));
  }

  &__logo {
    width: 350px;
  }

  &__contact {
    display: flex;
    justify-content: center;
    align-items: center;

    &-item {
      padding: 0 45px;

      & + & {
        border-left: 1px solid $color-gray-c7;
      }
    }

    &-heading {
      color: $color-footer;
      font-size: 24px;
      font-family: $font-family-serif;
    }

    &-content {
      color: $color-lighter;
      font-size: $font-size-mid;

      a {
        transition: color $tr;

        &:hover {
          color: $color-highlight;
        }
      }
    }
  }

  &__map {
    width: 100%;
    height: 100%;

    &-wrapper {
      width: 100%;
      height: 450px;
    }
  }

  &__copyright {
    width: 100%;
    padding: 25px 0;
    background-color: #fff;
    color: $color-copyright;
    font-size: $font-size-s;
    text-align: center;
  }

  & .main-logo {
    width: 350px;
  }

  & div.wpcf7-mail-sent-ok {
    display: none;
  }

  @include rwd(m) {
    &__brow {
      margin: 60px 0 20px;
    }

    &__heading {
      font-size: $font-size-heading * 2/3;
    }

    &__line {
      margin: 17px 0 33px;
    }

    &__wrapper {
      width: 40%;
    }

    &__paragraph {
      font-size: $font-size-xl * 2/3;
    }

    &__contact-form {
      width: 42%;
      margin: 93px 0 70px;
    }

    &__info {
      justify-content: space-around;
      height: 144px;
      margin: 0 0 -72px;
      padding: 0;
    }

    &__contact {
      &-item {
        padding: 0 30px;
      }

      &-heading {
        font-size: 16px;
      }

      &-content {
        font-size: $font-size-mid * 2/3;
      }
    }

    &__map {
      &-wrapper {
        height: 300px;
      }
    }

    &__copyright {
      padding: 17px 0;
      font-size: $font-size-s * 2/3;
    }
  }

  @include rwd(xs) {
    &__contact {
      &-item {
        padding: 0 10px;
      }

      &-form {
        margin: 93px 0 20px;
      }
    }

    & .main-logo {
      width: 40%;
    }

    &__info {
      height: 100px;
      margin: 0 0 -50px;
    }
  }

  @include rwd(xxs) {
    &__container {
      @include flex(column, center, center);
    }

    &__wrapper {
      width: 100%;
    }

    & .main-logo {
      width: 80%;
    }

    &__contact {
      width: 80%;

      @include flex(column, space-between, center, nowrap);

      &-form {
        width: 100%;
        margin: 32px 0;
      }

      &-item {
        position: relative;
        width: 100%;
        padding: 10px;

        @include flex(row, space-between, center);

        & + & {
          border: none;

          &::after {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 50%;
            width: 50%;
            height: 1px;
            background-color: $color-gray-c7;
            transform: translateX(-50%);
          }
        }
      }

      &-heading,
      &-content {
        flex: 1 1 50%;
      }

      &-heading {
        font-size: 12px;
      }
    }

    &__info {
      height: auto;
      margin: 0 0 -32px;

      @include flex(column, center, center);
    }
  }
}
